/*
  --- 01 TYPOGRAPHY SYSTEM

  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  - Font weights
  Default: 400
  Medium: 500
  Semi-bold: 600
  Bold: 700

  - Line heights
  Default: 1
  Small: 1.05
  Medium: 1.2
  Paragraph default: 1.6
  Large: 1.8

  - Letter spacing
  -0.5px
  0.75px

  --- 02 COLORS

  - Primary: 
  - Tints:
  - Shades: 
  - Accents:
  - Greys
  --- 05 SHADOWS

  0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  --- 06 BORDER-RADIUS

  Default: 9px
  Medium: 11px

  --- 07 WHITESPACE

  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth;
    does not work in safari
    
    */
}
body {
  background-color: #03045e;
  font-family: sans-serif;
  overflow-x: hidden;
}
h3 {
  font-family: "outfit", sans-serif;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: #eee;
  font-size: 2rem;
  text-transform: uppercase;
}
.btn {
  padding: 1.8rem 6.4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  align-items: center;
}

.container {
  max-width: 116.5rem;
  margin: 0 auto;
  padding: 0 5rem;
  margin-top: 14rem;
}
.logo {
  font-weight: bold;
  font-size: 2.4rem;
}
.nav_bar a {
  text-decoration: none;
  color: #eee;
  font-size: 2rem;
  position: relative;
}
.nav_bar {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  padding-left: 7rem;
  padding-right: 10rem;
  align-items: center;
  font-family: "outfit", sans-serif;
  margin: 0 auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  transition: height 0.3s ease-out;
  z-index: 100;
  background-color: rgba(3, 5, 94, 0.925);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.nav_links {
  display: flex;
  gap: 8rem;
  text-transform: capitalize;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8rem;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.sticky {
  height: 6rem;
  background-color: rgba(3, 5, 94, 0.925);
  padding-left: 7rem;
  padding-right: 10rem;
  margin: 0 auto;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #eee;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.nav_links a:hover {
  color: #90e0ef;
  transition: color 0.3s;
}

.hero_header {
  color: #eee;
  text-transform: capitalize;
  font-size: 7.8rem;

  gap: 4.8rem;
  letter-spacing: 0.5;
  line-height: 1;
  font-family: "outfit", sans-serif;
}
.hero_img {
  width: 100%;
}
.hero_section {
  margin-top: 4.8rem;
}
.hero_txt {
  font-size: 1.8rem;
  color: #eee;
  margin-top: 2rem;

  line-height: 1.7;
}
.hero_btn {
  padding: 1.6rem 4.8rem;
  font-size: 2rem;
  text-decoration: none;

  color: #fff;
  padding: 1.6rem 4.8rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border-radius: 10rem;
}
.buy_nfts_btn {
  background-color: #7373c2;
  font-weight: bold;
  margin-right: 2rem;
  margin-bottom: 1.2rem;
}
.buy_nfts_btn:hover {
  background-color: #5a5a97;
  transition: background-color 0.3s;
}

.buy_nfts_btn:active {
  box-shadow: 0 0 0 0.6rem rgba(128, 128, 215, 0.244);
}

.sell_nfts_btn {
  box-shadow: inset 0 0 0 0.2rem #88d0d1;
}
.sell_nfts_btn:hover {
  background-color: rgba(136, 208, 209, 0.715);
  transition: background-color 0.3s;
}
.sell_nfts_btn:active {
  box-shadow: 0 0 0 0.6rem rgba(136, 208, 209, 0.268);
}
.hero_CTA {
  margin-top: 4.8rem;
  align-items: center;
}

.featured {
  margin-top: 8rem;
}

.featured_logo {
  height: 3.6rem;
  filter: grayscale(100);
  opacity: 50%;
}
.featured_logos {
  display: flex;
  align-items: center;
  background-color: rgba(113, 101, 202, 0.15);
  height: 9.6rem;
  justify-content: space-around;
  opacity: 50%;
  margin-top: 2.4rem;
}

.analytics_txt p {
  color: #eee;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;

  line-height: 1.7;
}
.analytics_header {
  color: #eee;
  text-transform: capitalize;
  font-size: 6rem;
  margin-top: 1.6rem;
  letter-spacing: 0.5;
  line-height: 1;
  font-family: "outfit", sans-serif;
}
.analytics_btn {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border-radius: 10rem;
  background-color: #7373c2;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.analytics_btn:hover {
  background-color: #5a5a97;
  transition: background-color 0.3s;
}
.analytics_btn:active {
  box-shadow: 0 0 0 0.6rem rgba(128, 128, 215, 0.244);
}
.analytics_img {
  width: 100%;
}
.analytics_section {
  margin-top: 9.6rem;
}

.Get_app_txt p {
  color: #eee;
  font-size: 1.8rem;
  margin-top: 2.4rem;
  margin-bottom: 4.8rem;
  line-height: 1.7;
}
.Get_app_header {
  color: #eee;
  text-transform: capitalize;
  font-size: 6rem;
  margin-top: 1.6rem;
  letter-spacing: 0.5;
  font-family: "outfit", sans-serif;
  line-height: 1;
}

.Get_app_btn {
  font-size: 2rem;
  text-decoration: none;
  color: #eee;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 10rem;
  background-color: #7373c2;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.Get_app_btn:hover {
  background-color: #5a5a97;
  transition: background-color 0.3s;
}
.Get_app_btn:active {
  box-shadow: 0 0 0 0.6rem rgba(128, 128, 215, 0.244);
}
.Get_app_img {
  width: 100%;
  height: 90%;
}
.Get_app_section {
  margin-top: 9.6rem;
}

.testimonial_section {
  margin-top: 12.8rem;
}
.testimonial_header {
  color: #eee;
  text-transform: capitalize;
  font-size: 5.2rem;
  max-width: 48rem;
  margin-top: 1rem;
  letter-spacing: 0.5;
  font-family: "outfit", sans-serif;
  line-height: 1;
  text-align: center;
}
.testimonial_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial_text {
  text-align: center;
}
.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 12.8rem;
}
.testimony {
  padding: 8rem 2rem;
  background-color: #020342;
  border-radius: 2rem;
  position: relative;
  transition: transform 0.4s ease;
}
.testimony:hover {
  transform: translateY(-0.8rem);
}
.testimony h3 {
  text-align: center;
  margin-top: 2.4rem;
}
.testimonial_text {
  font-size: 1.6rem;
  color: #eee;
  margin-top: 3.6rem;
}
.testimony_img {
  width: 13rem;
  position: absolute;
  right: 50%;
  top: 0;
  transform: translate(50%, -50%);
  border-radius: 100%;
}
.get_started_section {
  border-radius: 3rem;
  background-image: linear-gradient(to left, #88d0d1, #3c3ebc);
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 2.4rem;
  margin-top: 8rem;
}
.get_started_header {
  color: #eee;
  text-transform: capitalize;
  font-size: 6.2rem;
  max-width: 48rem;
  letter-spacing: 0.5;
  font-family: "outfit", sans-serif;
  line-height: 1;
  text-align: center;
  margin-bottom: 2.4rem;
}
.Get_started_btn {
  font-size: 2rem;
  text-decoration: none;
  color: #eee;
  padding: 1.8rem 6.4rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border-radius: 10rem;
  background-color: #000435;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.Get_started_btn:hover {
  background-color: rgba(0, 4, 53, 0.62);
  transition: background-color 0.3s;
}
.Get_started_btn:active {
  box-shadow: 0 0 0 0.6rem rgba(0, 4, 53, 0.62);
}
.Get_started_btn {
  max-width: 52rem;
}

.footer_logo {
  text-decoration: none;
  color: hsla(0, 0%, 93%, 0.925);
  font-size: 1.8rem;
}
.footer_link {
  text-decoration: none;
  color: #eee;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.footer_link:hover {
  color: #8ecae6;
}
.footer_links p {
  color: #eee;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}
.footer_links div {
  display: flex;
  flex-direction: column;
}
footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  margin-top: 8rem;
  padding-top: 4.8rem;
  border-top: #ddd solid 0.1rem;
}
.email {
  appearance: none;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border: none;
  border-radius: 10rem;
  outline: none;
  background: #000433;
}

.submit_btn {
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 10rem;
  background: #6666ac;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.submit_btn:hover {
  background-color: #8080d7;
  transition: background-color 0.3s;
}
.submit_btn:active {
  box-shadow: 0 0 0 0.4rem rgba(128, 128, 215, 0.244);
}

.CTA {
  padding: 0.1rem 0.25rem;
  background-color: #000433;
  box-shadow: 0 0 0 0.1rem #eee;
  width: 34rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.Copyright span {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
}
.Copyright {
  color: hsla(0, 0%, 93%, 0.9);
  font-size: 1.2rem;
  margin-top: 5rem;
  padding-bottom: 3rem;
}
